@font-face{
	font-family: 'Dosis-Bold';
	src: url('../fonts/Dosis-Bold.otf');
}
@font-face{
	font-family: 'Dosis-Regular';
	src: url('../fonts/Dosis-Regular.otf');
}
@font-face{
	font-family: 'Dosis-Light';
	src: url('../fonts/Dosis-Light.otf');
}
header, nav, section, footer{
	margin: 0 auto;
	width: 800px;
	height: 400px;	
	font-family: 'Dosis-Bold';
}
header{
	background: -webkit-linear-gradient(top, #A1D7E3 0%, #E6F4FB 100%);
	font-family: 'Dosis-Bold';
}
.container{
	margin: 0;
	padding: 0;
	width: 800px;
	height: 400px;
	background-image: url(../pictures/header.svg);
}
header h1{
	color: #225A69;
}
header h2{
	color: #407D24;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 75px;
	background: #225A69;
	font-family: 'Dosis-Bold';
	color: #7DB5C4;
}
.nav{
	display: flex;
}
.picture{
	width: 37px;
	height: 31px;
	background: url(../pictures/picture1.svg) no-repeat; 
}
.picture2{
	background: url(../pictures/picture2.svg) no-repeat;
}
.picture3{
	background: url(../pictures/picture3.svg) no-repeat;
}
.picture4{
	background: url(../pictures/picture4.svg) no-repeat;
}
.nav h2{
	font-size: 1em;
}
section, footer{
	height: 330px;
	background: #5BA339;
}
section{
	display: flex;
	justify-content: space-around;
}
.section{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 70px;	
}
.icon{
	width: 100px;
	height: 100px;
	background: #fff url(../pictures/section-icon1.svg) no-repeat;
	//background-size: cover; 
	border-radius: 20px;
}
.icon-section2{
	background-image: url(../pictures/section-icon2.svg);
}
.icon-section3{
	background-image: url(../pictures/section-icon3.svg);
}
.icon-section4{
	background-image: url(../pictures/section-icon4.svg);
}
.section p{
	font-family: 'Dosis-Bold';
	color: #fff;
}
.section a{
	display: block;
	width: 78px;
	height: 18px;
	background: #98CE3C;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px; 
	height: 70px;
}
